<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redneck.wanderers.com.retkipaivakirja">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityAddRoute"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.PointsActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.ActivityAddPoint"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.ActivityEditPoint"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.ActivitySettings"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.PointsDetailActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.ActivityImageview"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.ActivityWeatherDetails"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>